[Unit]
Description=KZTEK Labeling Studio Server
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=__APP_DIR__/server
ExecStart=/usr/bin/node src/index.js
Environment=NODE_ENV=production
Environment=PORT=4000
Restart=on-failure
RestartSec=5
StandardOutput=append:__APP_DIR__/server.log
StandardError=append:__APP_DIR__/server.log

[Install]
WantedBy=multi-user.target
